header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 48px;
    font-weight: 900;
}

.form{
    display: flex;
    flex-direction: column;
}

label, input, select{
    padding: 5px;
    font-size: 24px;
}

.button{
    margin: 10px 10px 10px 0px;
    padding: 10px;
    font-size: 24px;
    background-color: #89b4d9;
}

#cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    font-size: 36px;
    line-height: 50px;
    padding: 40px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    /* min-width: 200px; */
}

button{
    display: block;
    font-size: 28px;
    margin-bottom: 1.2rem;
    background-color: #bccf94;
    border: 2px solid green;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

button:hover{
    background-color: #eeffca;
    cursor: pointer;
}

.pages{
    margin-bottom: 1rem;
}
